img{
    height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: 300px;
    opacity: 0.8;
}

img:hover{
    opacity: 1;
    border: solid 3px;
    border-color: black solid ;
    border-radius: 10px / 100px;
}

h2{
    margin-top: 60px;
    margin-left: 290px;
    color:indigo;
}